/*Yo*/
.image{
  width: 1900px;
  height: 700px;
}

.d-item{
  height: 700px;
}

.d-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

/* Color de las letras*/
.carousel-caption h1 {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, .5);
}

.carousel-caption p {
  color: rgb(122, 122, 122);
}

/* TEXTO DEBAJO DEL CARRUCEL*/
.container {

display: block;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
}

h1 {
text-align: center;
}

footer{
  padding: 20px;
  color: #000000;
  background-color: black;
  height: 315px;
  margin-top: 20px;
}

footer div p{
  font-size: 12px;
  color: #fdfdfd;
  padding-top: 5px;
  line-height: 10px;
}

/*Página about*/

#información{
  margin-right: 20ox;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}

.parrafoqsomos{
  color: #ffffff;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

/*Página de las guias*/

.h1qs{
  color: #f0ebeb;
  font-size: x-large;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.contenedorLogin{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor figure{
  position: relative;
  height: 350px;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
  cursor: pointer;
}

.contenedor figure img{
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.contenedor figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(68, 74, 75, 0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedor figure:hover > .capa{
  opacity: 1;
  visibility: visible;
}

.contenedor figure:hover > .capa h3{
  margin-top: 40%;
  margin-bottom: 30%;
}

.contenedor figure:hover > img{
  transform: scale(1.3);
}


.contenedor figure .capa h3{
  color: #fdfdfd;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}

.contenedor figure .capa p{
  color: #fdfdfd;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220%;
  margin: auto;
}

#row1,#row2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

