{% extends 'core/base.html' %}


{% block title %}
{{ game.name }}
{% endblock %}

{% block content %}
<!-- <div class="container"><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="picture-container-d">
                    <img src="{{ game.image.url }}" class="img-fluid img-detalles" alt="Image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-section">
                    <h2>{{ game.name }}</h2>
                </div>
                <div class="text-section">
                    <h6>DESCRIPCION BREVE</h6>
                    <p>{{ game.description_short }}</p>
                </div>
                <div class="text-section">
                    <h6>DESCRIPCION</h6>
                    <p>{{ game.description }}</p>
                </div>
                <div class="text-section">
                    <h6>HISTORIA</h6>
                    <p>{{ game.data_lore }}</p>
                </div>
                <div class="text-section">
                    <h6>ARMAS</h6>
                    <p>{{ game.data_weapons }}</p>
                </div>
                <div class="text-section">
                    <h6>LOGROS</h6>
                    <p>{{ game.data_achievements }}</p>
                </div>
                <div class="text-section">
                    <h6>DURACION</h6>
                    <p>{{ game.data_playtime }}</p>
                </div>
                <div class="text-section">
                    <h6>OCULTOS</h6>
                    <p>{{ game.data_easter_eggs }}</p>
                </div>
                <div class="text-section">
                    <h6>ENEMIGOS</h6>
                    <p>{{ game.data_enemies }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div> -->

<style>
    .game-background {
        background: url('{{ game.carousel_image.url }}') no-repeat center center fixed;
        background-size: cover;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, 0.75);
    }
</style>    
<div class="container-fluid game-background">
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="picture-container-d">
                    <img src="{{ game.image.url }}" class="img-fluid img-detalles" alt="Image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-section">
                    <h2>{{ game.name }}</h2>
                </div>
                <div class="text-section">
                    <h6>DESCRIPCION BREVE</h6>
                    <p>{{ game.description_short }}</p>
                </div>
                <div class="text-section">
                    <h6>DESCRIPCION</h6>
                    <p>{{ game.description }}</p>
                </div>
                <div class="text-section">
                    <h6>HISTORIA</h6>
                    <p>{{ game.data_lore }}</p>
                </div>
                <div class="text-section">
                    <h6>ARMAS</h6>
                    <p>{{ game.data_weapons }}</p>
                </div>
                <div class="text-section">
                    <h6>LOGROS</h6>
                    <p>{{ game.data_achievements }}</p>
                </div>
                <div class="text-section">
                    <h6>DURACION</h6>
                    <p>{{ game.data_playtime }}</p>
                </div>
                <div class="text-section">
                    <h6>OCULTOS</h6>
                    <p>{{ game.data_easter_eggs }}</p>
                </div>
                <div class="text-section">
                    <h6>ENEMIGOS</h6>
                    <p>{{ game.data_enemies }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}


