.picture-container {
background-color: #f0f0f0b2;
border-radius: 16px; 
max-width: 500px; 
padding: 10px; 
}

.picture-container img {
    border-radius: 10px;
}


.container{
    border: solid;
    border-color: blueviolet;
}

