{% extends 'core/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="contenedorAbout"><br>
    <h1 class="tituloQS"><strong>Wiki-Guia, ¿Quienes somos?</strong></h1><br>
    <hr>
    <p class="parrafoQS">
        ¡Hola! Somos un grupo de 3 estudiantes del Instituto DUOC, apasionados por la programación y los
        videojuegos. Estamos emocionados de presentarte nuestra página web
        llamada "Wiki-Guía", en la cual compartimos información detallada sobre 10 juegos populares. <br>

        Nuestro objetivo es proporcionar una guía completa y fácil de entender para aquellos interesados en
        aprender más sobre estos juegos. Nos dedicamos a investigar y
        recopilar información precisa y actualizada sobre cada juego, incluyendo detalles sobre su jugabilidad,
        personajes, modos de juego, estrategias y más. <br>

        Como estudiantes de programación, hemos aplicado nuestros conocimientos en HTML para crear una página
        web funcional y atractiva que sea accesible para cualquier
        persona interesada en aprender más sobre estos juegos. Nos esforzamos por mantener la página actualizada
        con información precisa y relevante para proporcionar a
        nuestros visitantes la mejor experiencia posible. <br>

        ¡Esperamos que encuentres útil y entretenida nuestra Wiki-Guía y que te sirva como una herramienta útil
        para conocer más sobre los juegos que amas! ¡Gracias por
        visitar nuestra página y por apoyarnos en nuestro proyecto de programación. Bienvenido/a a nuestra
        Wiki-Guía! ¡Vamos a jugar! ¡Síguenos en nuestras redes sociales
        para mantenerte informado/a sobre las últimas actualizaciones y novedades en nuestra página!
        <strong>¡Gracias por tu apoyo! ¡Nos vemos en la Wiki-Guía!</strong>.<br><br><br>
    </p>
    <hr>
    <div class="row jumbotron" id="informacion">
        <div class="col-lg-6">
            <div>
                <h2 class="tituloQS">Misión</h2>
                <p class="parrafoQS">-Proporcionar una guía completa y fácil de entender sobre 10 juegos
                    populares. <br>
                    -Mantener nuestra página web actualizada con información precisa y relevante.<br>
                    -Crear una experiencia accesible y atractiva para los visitantes interesados en aprender más
                    sobre los juegos.<br>
                    -Utilizar nuestros conocimientos en programación para crear una página web funcional y de
                    calidad.<br>
                    -Ofrecer un recurso útil para los amantes de los videojuegos que buscan información detallada
                    sobre sus juegos favoritos.<br>
                    -Fomentar el intercambio de conocimientos y la comunidad en torno a los juegos en nuestra
                    plataforma.<br>
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="tituloQS">Visión</h3>
            <p class="parrafoQS">Nuestra visión en Wiki-Guía es convertirnos en una referencia confiable y
                reconocida en el mundo de los juegos, siendo la primera opción para aquellos que
                buscan guías completas y actualizadas, y ampliar nuestra comunidad para fomentar el intercambio de
                conocimientos y la colaboración entre los aficionados a los videojuegos.
                ¡Gracias por tu interés en nuestra visión! ¡Nos vemos en la Wiki-Guía!</p>
        </div>
    </div><br><br>
</div>
{% endblock %}