{% extends 'core/base.html' %}


{% block title %}
Preguntas Frecuentes
{% endblock %}

{% block content %}
<div class="contenedorAbout"><br>
    <h1 class="tituloQS"><Strong>Preguntas Frecuentes</Strong></h1><br><br>
    <p class="infoPF" style="color: rgb(230, 230, 230); text-align: left; margin-left: 50px; margin-right: 50px;">
        <STRONg>1.-¿Qué es esta página de guías de juegos?</STRONg><br><br>

        Esta página es una plataforma dedicada a proporcionar guías detalladas y útiles para una amplia variedad de
        juegos. Nuestro objetivo es ayudarte a superar desafíos, descubrir secretos y mejorar tu experiencia de
        juego.
    </p>
    <br>
    <hr><br>
    <p class="infoPF" style="color: rgb(230, 230, 230); text-align: left; margin-left: 50px; margin-right: 50px;">
        <STRong>2.-¿Cómo puedo utilizar las guías de juegos de esta página?</STRong><br><br>

        Es muy sencillo. Solo necesitas buscar el juego específico que te interese y seleccionar la guía
        correspondiente. Las guías están organizadas por secciones, como misiones, personajes, estrategias,
        coleccionables, entre otras, para facilitar la navegación y encontrar la información que necesitas.
    </p>
    <br>
    <hr><br>
    <p class="infoPF" style="color: rgb(230, 230, 230); text-align: left; margin-left: 50px; margin-right: 50px;">
        <STROng>3.-¿Las guías de juegos son gratuitas?</STROng><br><br>

        Sí, todas las guías de juegos en esta página son completamente gratuitas. Creemos en el acceso libre a la
        información para que todos los jugadores puedan beneficiarse.
    </p>
    <br>
    <hr><br>
    <p class="infoPF" style="color: rgb(230, 230, 230); text-align: left; margin-left: 50px; margin-right: 50px;">
        <STRONG>4.-¿Puedo solicitar una guía para un juego específico que no encuentre en la página?</STRONG><br><br>

        Aunque nos esforzamos por tener una amplia selección de guías de juegos, es posible que algunos títulos no
        estén disponibles. Sin embargo, siempre estamos abiertos a sugerencias y solicitudes. Puedes enviar tu
        solicitud a través de nuestra sección de contacto y haremos todo lo posible para proporcionarte la guía que
        necesitas.
    </p>
    <br>
    <hr><br>
    <p class="infoPF" style="color: rgb(230, 230, 230); text-align: left; margin-left: 50px; margin-right: 50px;">
        <STrong>5.-¿Cómo puedo contribuir a esta página de guías de juegos?</STrong><br><br>

        Si eres un jugador experimentado y te gustaría compartir tu conocimiento, ¡nos encantaría tener tu
        colaboración! Puedes ponerte en contacto con nosotros a través de nuestra sección de contacto y discutiremos
        las posibilidades de colaboración.
    </p>
    <br>
    <hr><br>
    <p class="infoPF" style="color: rgb(230, 230, 230); text-align: left; margin-left: 50px; margin-right: 50px;">
        <STRONg>6.-¿Las guías de juegos incluyen spoilers?</STRONg><br><br>

        Nuestras guías están diseñadas para proporcionar información útil y detallada sobre los juegos, lo que puede
        incluir spoilers en ciertas secciones. Sin embargo, hacemos todo lo posible para marcar y advertir sobre los
        spoilers importantes, para que puedas elegir si deseas leerlos o no.
    </p>
    <br>
    <hr><br>
    <p class="infoPF" style="color: rgb(230, 230, 230); text-align: left; margin-left: 50px; margin-right: 50px;">
        <STRONg>7.-¿Puedo hacer preguntas adicionales o solicitar aclaraciones sobre las guías de juegos?</STRONg><br><br>

        ¡Por supuesto! Valoramos tus preguntas y comentarios. Si tienes alguna pregunta adicional o necesitas
        aclaraciones sobre alguna guía de juego, puedes utilizar la sección de comentarios correspondiente a esa
        guía y nos aseguraremos de responder lo antes posible.
    </p><br><br>
</div>
{% endblock %}