{% extends 'core/base.html' %}


{% block title %}
Home
{% endblock %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">
        {% for game in games %}
        <div class="col-md-4">
            <div class="picture-container">
                <a href="{% url 'game:detail' game.id %}">
                    <img class="img-fluid" src="{{ game.image.url }}" alt="Picture 1">
                </a>
                <p id="desctarti"><strong>{{ game.name }}</strong></p>
                <p id="desctarg">{{ game.description }}</p>
                <a class="bottom-link" href="{% url 'game:detail' game.id %}">Ver Guia</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div><br><br>
{% endblock %}