{% extends 'core/base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container-register-form login-container-form">
    <h1 class="login-title">Iniciar Sesión</h1><br>
    <form method="POST" action=".">
        {% csrf_token %}
        <div class="mb-3">
            <label for="" class="form-label-login">Usuario</label><br>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label for="" class="form-label-login">Contraseña</label><br>
            {{ form.password }}
        </div>
        {% if form.errors or form.non_field_errors %}
        <div class="error-form">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
            
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <button class="btn btn-primary btn-login">Login</button>
    </form>
</div>
{% endblock %}